@media (min-width:1850px)
{
    .home1{
        margin-left:15%;
        
    }
    .home2{
        margin-bottom:-5%;
    }
}
.home2{
    width:100%;
    
}
@media (min-width:650px)
{
.bnm{
    align:center;
    margin:  0 0% 0 10%;
}
}