::-webkit-scrollbar {
  width: 0 !important;
}
/* Optional: Ensure scrollbar is hidden for Firefox */
/* Please note: This may not work in newer versions of Firefox */


/* CSS code */
table {
  border-collapse: collapse;
  border: 1px solid #e5e7eb;
}

th,
td {
  border: 1px solid #e5e7eb;
  padding: 8px; /* Adjust padding as needed */
}
.resumePreview {
  width: 794px; 
  font-family: 'EB Garamond', serif;
  /* A4 width in pixels at 96 DPI */
  height: 1123px; /* A4 height in pixels at 96 DPI */
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
  margin: auto; /* Centers the div on the page */
  overflow: auto; /* Adds scrollbars if the content overflows */
}

